.project {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 1rem;

    &__image {
        width: 100%;
        border-radius: 0.5rem;
    }

    &__name {
        text-align: center;
        font-variation-settings: "wght" 700;
        margin-bottom: 0rem;
    }

    &__description {
        text-align: center;
        padding: 0 1rem;
        line-height: 1.2rem;
    }

    &__stack-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__stack-icon {
        width: 15%;
    }
}