
.header {
    &__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    &__button-burger {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 50px;
            height: 6px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255,101,47,.2);
            transition: all .5s ease-in-out;
        }

        &::before {
            transform: translateY(-16px);
        }

        &::after {
            transform: translateY(16px);
        }
    }

// animation 
    &__button-open {
        transform: rotate(45deg) translate(35px, -35px);
    }

}