.header {
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 4rem;
    }

    &__button-area {
        display:grid;
        place-items:start end;
        margin:0;
        padding:0;
    }

    &__button-label {
        display:flex;
         flex-direction:column;
         width:70px;
         cursor:pointer;
    }

    &__button-bar {
        background: blue;
        border-radius:10px;
        height:7px;
        margin: 7px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

        &--1 {
            width:50%;
        }

        &--2 {
            width:100%;
        }

        &--3 {
            width:75%;
        }
    }

    &__input {
      display:none;
    }

    &__input:checked ~ .header__button-bar--1{
      transform-origin:bottom;
      transform:rotatez(45deg) translate(8px,0px)
    }

    &__input:checked ~ .header__button-bar--2 {
      transform-origin:top;
      transform:rotatez(-45deg)
    }

    &__input:checked ~ .header__button-bar--3{
      transform-origin:bottom;
      width:50%;
      transform: translate(30px,-11px) rotatez(45deg);
    }
}