@use "../../styles/variables" as *;

.projects-intro {
    margin-top: -15rem;
    background-color: $color-primary;
    padding: 2rem;
    padding-bottom: 10rem;
    color: white;
    text-align: center;

    &__title {
        font-size: 1.25rem;
        font-variation-settings: "wght" 700;
        line-height: 1.6rem;
    }

    &__text {
        font-size: 0.875rem;
        line-height: 1.3rem;
    }

    &__link {
        text-decoration: none;
        color: white;
        font-variation-settings: "wght" 700;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: .0625rem;
            background-color: white;
            transition: transform 300ms ease-in-out;
    
            transform: scaleX(0);
        }
    
        &:hover::before {
            transform: scaleX(1);
        }
    }

}

.break {
    &::after {
        content: "\A";
        white-space: pre;
    }
}